@(silawetMessage: SilawetMessage)

@main("Silawet Explorer") {

<div class="Right" id="mainElement">
    <h1><a href="/">Web</a></h1>
    <p class="breadcrumbs"> <a href="/">Home</a> </p>


    <p>id: @silawetMessage.silawet_id</p>
    <p><span>Authored At:@silawetMessage.authored_at</span></p>


    <h3>Message:</h3>
    <p><span>@silawetMessage.message</span></p>

    <h3>Message Information:</h3>
    <p>Authored By: <a href="/author/@silawetMessage.authored_by">@silawetMessage.authored_by</a></p>
    <p>Signature: @silawetMessage.signature</p>
    <p><a href="https://stormy-journey-84212.herokuapp.com/message/@silawetMessage.silawet_id">Copy URL</a> : https://stormy-journey-84212.herokuapp.com/@silawetMessage.silawet_id </p>

</div>

}
